table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.395);
}

th {
    background-color: rgb(181, 174, 174);
}

td {
    width: 200px;
}

.bg-dark {
    background-color: #8693AB !important;
}

.navbar-dark .navbar-nav .nav-link, .navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-brand {
    color: #000000;
}

.container, .container-lg, .container-md, .container-sm {
    max-width: 500px;
}

.nav-item {
    margin-right: 10px;
}


#welcome, #index_date {
    font-family: 'Inter';font-size: 22px;
    text-align: center;
    margin: 20px;
}

#stats {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
}

.stat {
    border-radius: 15px;
    height: 205px;
    color: white;
    margin: 20px;
    background-color: #181D4B;
    width: 252px;
    text-align: center;
}

body {
    font-family: 'Inter';
    background-color: #EFEFEF;
}

.title {
    text-align: center;
    margin-top: 60px;
}

.info {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

#big-details {
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#big-details .big-detail {
    text-align: center;
    width: 419px;
    height: 382px;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding-top: 20px;
}

#big-details .big-title {
    margin-top: 0px;
}

.big-table {
    text-align: center;
    margin-top: 30px;
}

.big-table table {
    margin: 0 auto;
}

.form-title {
    text-align: center;
    padding-top: 40px;
}

.form-box {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}

.text-box {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 66px;
    width: 376px;
    background-color: #EFEFEF;
    border-radius: 10px;
    padding-left: 15px;
}

::placeholder {
    font-weight: bold;
}

.form-button {
    background-color: #7a5cf5;
    height: 44px;
    width: 173px;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
}

.messages {
    margin-left: 30px;
    width: 400px;
    list-style-type: none;
}

.form-label {
    margin-top: 10px;
    margin-left: -183px;
    margin-bottom:-15px;
}