{% extends "tracker/layout.html" %}
{% block body %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% load static %}
<h3>Welcome {{user}} </h3>
<div style="border-style: dotted">
  <h3><strong>Personal details</strong></h3>
  <div>First Name: {{user.first_name}}</div>
  <div>Last Name: {{user.last_name}}</div>
</div>

<div style="border-style:dotted">
  <h3><strong>Your stats</strong></h3>
  Workout: {{workout}}
  <div>
    You can work out on {{days}} <button id="update-stats">Update Goals</button>
  </div>
  <div>
    {{date_started}}
  </div>
  <div>
    Current Weight: {{weight}}
  </div>
  <div>
    Weight Goal: {{weight_goal}}
  </div>
  <div>
    Goals: {{goals}}
  </div>
  <div>
    {{weights}}
  </div>
  Height: <div id="height">
    {{height}}
  </div>
  <div class="popup-overlay" id="popupOverlay">
    <div id="edit-stats" class="popup-content">
      <button class="close-button" id="closePopup">&times;</button>
      <div>
        Goals: {% for goal in full_goals %}
        <div>
          <input type="checkbox" name="goal" value="{{goal}}" {% if goal in goals %} checked {% endif %}>{{goal}}
        </div>
        {% endfor %}
      </div>
      <div>
        Days: {% for day in full_days %}
        <div>
          <input type="checkbox" name="day" value="{{day}}" {% if day in days %} checked {% endif %}>{{day}}
        </div>
        {% endfor %}
      </div>
      Weight: <input id="new_weight" value="{{weight}}" style="width: 100px;">
      Weight Goal: <input type="text" value="{{weight_goal}}" id="new_weight_goal" max="600" style="width: 100px;">
      Height: <input type="number" id="new_height_ft" min="2" max="8" style="width: 50px;">ft 
      <input type="number" id="new_height_in" min="0" max="12" style="width: 50px;"> in //// update their values with JS
      <button class="cancel-edit" id="cancelPopup">Cancel</button>
      <button class="save-edit", id="save-stats">Save</button>
    </div>
  </div>
</div>
<div style="border: dotted">
  <div>
    You can work out on: {{days}}
  </div>
</div>
<script src="{% static 'tracker/account.js' %}"></script>

{% endblock %}