{% extends "tracker/layout.html" %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" 
integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" 
crossorigin="anonymous">
</script>
{% block body %}
<div class="form-box" style="width: 508px; height: 500px;">
    <h2 class="form-title"><strong>Log Activity</strong></h2>
    <div class="form">
        <form action="{% url 'activity' %}" method="post" id="form">
            {% csrf_token %}
            <div class="form-label">
                What activity did you do?
            </div>
            <select id="activity_title" name="activity_title" class="text-box">
                <option value="workout">Workout</option>
                <option value="other">Other</option>
            </select>
            <div style="margin-left: 65px;">
                <input type="text" name="activity_name" id="activity_name" style="display: none;" class="text-box" placeholder="Activity Name">
            </div>
            <div class="form-label" style="margin-right: 85px;">
                For how long?
            </div>
            <div style=" margin-right: 94.5px;">
                <input type="number" name="duration" style="width: 240px;" max="500" id="duration" value="0" class="text-box" required> mins
            </div>
            <div class="form-label" style="margin-right: 72px;">
                Calories burned
            </div>
            <div style="margin-right: 43px;">
                <input type="number" name="calories" style="width: 240px;" max="10000" id="calories" value="0" class="text-box" required> 
                <a style="color:blue" id="dontknow">Don't know</a>
            </div>
            <div style="margin-top: 20px;">
                <input class="form-button" type="submit" value="Log Activity">
            </div>
        </form>
    </div>
</div>
<script src="{% static 'tracker/activity.js' %}"></script>
{% endblock %}