{% extends "tracker/layout.html" %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" 
integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" 
crossorigin="anonymous">
</script>
{% block body %}
<style>
.checkbox {
    margin-left: 73px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
    
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
    
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popup:hover .popuptext {
    visibility: visible;
    opacity: 1;
}
</style>
<div class="form-box" style="width: 508px; height: 500px;">
    <h2 class="form-title"><strong>Log Activity</strong></h2>
    <div class="form">
        <form action="{% url 'activity' %}" method="post" id="form">
            {% csrf_token %}
            <div class="form-label">
                What activity did you do?
            </div>
            <select id="activity_title" name="activity_title" class="text-box">
                <option value="workout">Workout</option>
                <option value="other">Other</option>
            </select>
            <div style="margin-left: 65px;">
                <input type="text" name="activity_name" id="activity_name" style="display: none;" class="text-box" placeholder="Activity Name">
            </div>
            <div class="form-label" style="margin-right: 85px;">
                For how long?
            </div>
            <div style=" margin-right: 94.5px;">
                <input type="number" name="duration" style="width: 240px;" max="500" id="duration" value="0" class="text-box" required> mins
            </div>
            <div class="form-label" style="margin-right: 72px;">
                Calories burned
            </div>
            <div style="margin-right: 43px;">
                <input type="number" name="calories" style="width: 240px;" max="10000" id="calories" value="0" class="text-box" required> 
                <div class="popup"><a style="color: blue" id="dontknow">Don't know?</a>
                    <span class="popuptext" id="myPopup">Data provided by ApiNinjas</span>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <input class="form-button" type="submit" value="Log Activity">
            </div>
        </form>
    </div>
</div>
<script src="{% static 'tracker/activity.js' %}"></script>
{% endblock %}