{% extends "tracker/layout.html" %}

{% block body %}
<h3>What would you eat in a typical day</h3>
<form action="{% url 'food' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="breakfast">What do you eat for breakfast</label>
        <input type="text" name="breakfast">
        <label for="breakfast_servings">Servings</label>
        <input type="number" name="breakfast_servings" max="10" min="1" value="1">
    </div>
    <div>
        <label for="lunch">What do you eat for lunch</label>
        <input type="text" name="lunch">
        <label for="lunch_servings">Servings</label>
        <input type="number" name="lunch_servings" max="10" min="1" value="1">
    </div>
    <div>
        <label for="dinner">What do you eat for dinner</label>
        <input type="text" name="dinner">
        <label for="dinner_servings">Servings</label>
        <input type="number" name="dinner_servings" max="10" min="1" value="1">
    </div>
    <div>
        <label for="snacks">Did you eat any snacks?</label>
        <input type="text" name="snacks">
        <label for="dinner_servings">Servings</label>
        <input type="number" name="snack_servings" max="10" min='1' value="1">
    </div>
    <input type="submit">
</form>


{% endblock %}