{% extends "tracker/layout.html" %}
{% load static %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" 
integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" 
crossorigin="anonymous">
</script>
<style>
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
    }
    
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    .fa-question-circle {
        color: #8693AB;
    }
    
    @-webkit-keyframes fadeIn {
      from {opacity: 0;} 
      to {opacity: 1;}
    }
    
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }

    .popup:hover .popuptext {
        visibility: visible;
        opacity: 1;
    }

    .fas {
        font-size: 25px;
    }

    
</style>

<div id="breakfast-form" class="form-box" style="width: 558px; height: 270px;">
    <div id="breakfast">
        <h4 class="form-title" style="margin-bottom: px;">
            <strong>What would you usually eat for breakfast?</strong>
        </h4>
        <div class="form-label" style="margin-left: -10px;">
            Food name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Servings &nbsp; &nbsp; Calories
        </div>
        <div style="margin-right: 7px;">
            <input type="text" id="breakfast-name0" class="text-box breakfast-name" name="breakfast-name" style="width:240px;" required>
            <input type="number" id="breakfast-servings0" max="100" min="0" value="1" class="text-box" style="width: 80px; margin-left:0px;" required>
            <input type="number" id="breakfast-calories0" max="10000" value="0" class="calories text-box" style="width:100px;" required>
            <div class="popup" id="breakfastdontknow">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="popuptext" id="myPopup">Approximate Calories, provided by CalorieNinjas</span>
                <!-- <a style="color: blue" class="dontknow">Don't know?</a> -->
            </div>
        </div>
    </div>
    <i class="fas fa-plus-circle" id="breakfastaddmore" aria-hidden="true" style="color: #afafaf; cursor: pointer;"></i>
    <i class="fas fa-minus-circle" id="breakfastremove" aria-hidden="true" style="color: #afafaf; display: none; cursor: pointer;"></i>
    <div>
        <button id="decoysubmit1" class="form-button">Next</button>
    </div>
</div>

<div id="lunch-form" class="form-box" style="width: 558px; height: 270px; display: none;">
    <div id="lunch">
        <h4 class="form-title" style="margin-bottom: px;">
            <strong>What would you usually eat for lunch?</strong>
        </h4>
        <div class="form-label" style="margin-left: -10px;">
            Food name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Servings &nbsp; &nbsp; Calories
        </div>
        <div style="margin-right: 7px;">
            <input type="text" id="lunch-name0" class="text-box lunch-name" name="lunch-name" style="width:240px;" required>
            <input type="number" id="lunch-servings0" max="100" min="0" value="1" class="text-box" style="width: 80px; margin-left:0px;" required>
            <input type="number" id="lunch-calories0" max="10000" value="0" class="calories text-box" style="width:100px;" required>
            <div class="popup" id="lunchdontknow">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="popuptext" id="myPopup">Approximate Calories, provided by CalorieNinjas</span>
                <!-- <a style="color: blue" class="dontknow">Don't know?</a> -->
            </div>
        </div>
    </div>
    <i class="fas fa-plus-circle" id="lunchaddmore" aria-hidden="true" style="color: #afafaf; cursor: pointer;"></i>
    <i class="fas fa-minus-circle" id="lunchremove" aria-hidden="true" style="color: #afafaf; display: none; cursor: pointer;"></i>
    <div>
        <button id="previous1" class="form-button">Previous</button>
        <button id="decoysubmit2" class="form-button">Next</button>
    </div>
</div>

<div id="dinner-form" class="form-box" style="width: 558px; height: 270px; display: none;">
    <div id="dinner">
        <h4 class="form-title" style="margin-bottom: px;">
            <strong>What would you usually eat for dinner?</strong>
        </h4>
        <div class="form-label" style="margin-left: -10px;">
            Food name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Servings &nbsp; &nbsp; Calories
        </div>
        <div style="margin-right: 7px;">
            <input type="text" id="dinner-name0" class="text-box dinner-name" name="dinner-name" style="width:240px;" required>
            <input type="number" id="dinner-servings0" max="100" min="0" value="1" class="text-box" style="width: 80px; margin-left:0px;" required>
            <input type="number" id="dinner-calories0" max="10000" value="0" class="calories text-box" style="width:100px;" required>
            <div class="popup" id="dinnerdontknow">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="popuptext" id="myPopup">Approximate Calories, provided by CalorieNinjas</span>
                <!-- <a style="color: blue" class="dontknow">Don't know?</a> -->
            </div>
        </div>
    </div>
    <i class="fas fa-plus-circle" id="dinneraddmore" aria-hidden="true" style="color: #afafaf; cursor: pointer;"></i>
    <i class="fas fa-minus-circle" id="dinnerremove" aria-hidden="true" style="color: #afafaf; display: none; cursor: pointer;"></i>
    <div>
        <button id="previous2" class="form-button">Previous</button>
        <button id="decoysubmit3" class="form-button">Next</button>
    </div>
</div>


<div id="snacks-form" class="form-box" style="width: 558px; height: 270px; display: none;">
    <div id="snacks">
        <h4 class="form-title" style="margin-bottom: px;">
            <strong>What would you usually eat for snacks?</strong>
        </h4>
        <div class="form-label" style="margin-left: -10px;">
            Food name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Servings &nbsp; &nbsp; Calories
        </div>
        <div style="margin-right: 7px;">
            <input type="text" id="snacks-name0" class="text-box snacks-name" name="snacks-name" style="width:240px;" required>
            <input type="number" id="snacks-servings0" max="100" min="0" value="1" class="text-box" style="width: 80px; margin-left:0px;" required>
            <input type="number" id="snacks-calories0" max="10000" value="0" class="calories text-box" style="width:100px;" required>
            <div class="popup" id="snacksdontknow">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="popuptext" id="myPopup">Approximate Calories, provided by CalorieNinjas</span>
                <!-- <a style="color: blue" class="dontknow">Don't know?</a> -->
            </div>
        </div>
    </div>
    <i class="fas fa-plus-circle" id="snacksaddmore" aria-hidden="true" style="color: #afafaf; cursor: pointer;"></i>
    <i class="fas fa-minus-circle" id="snacksremove" aria-hidden="true" style="color: #afafaf; display: none; cursor: pointer;"></i>
    <div>
        <button id="previous3" class="form-button">Previous</button>
        <button id="submit-button" class="form-button">Next</button>
    </div>
</div>

<div style="display: none;">
    <form action="{% url 'food' %}" method="post" id="hidden-form">
        {% csrf_token %}
        <input type="number" id="old-calories" name="old-calories">
    </form>
</div>

<script src="{% static 'tracker/food.js' %}"></script>
{% endblock %}