{% extends "tracker/layout.html" %}

{% block body %}
{% load static %}
<div id="welcome">
    <h3>Welcome Back, <strong>{{user.username}}</strong></h3>
</div>
<div id="index_date" style="background-color:#BDD4E7; width: 370px; text-align:center; margin: 0 auto; border-radius: 8px;">
    {{day}}, {{date}}
</div>
<style>
    th {
        background-color: rgb(170, 170, 170);
    }
</style>


<ul id="stats">
    <div class="stat">
        <li>
            <div class="title">
                Current Weight
            </div>
            <div class="info">
                {{weight}}/{{weight_goal}} lbs
            </div>
        </li>
    </div>
    <div class="stat">
        <li>
            <div class="title">
                Calories eaten today
            </div>
            <div class="info">
                {{total_calories}}/{{calorie_goal}} kcal
            </div>
        </li>
    </div>
    <div class="stat">
        <li>
            <div class="title">
                Total protein today
            </div>
            <div class="info">
                {{total_protein}}/{{protein_goal}} g
            </div>
        </li>
    </div>
    <div class="stat">
        <li>
            <div class="title">
                Calories burned today
            </div>
            <div class="info">
                {{calories_burned}} kcal
            </div>
        </li>
    </div>
</ul>

<ul id="big-details">
    {% if workout %}
    <li>
        <div class="big-detail">
            <div class="big-title">
                Workout Routine
            </div>
            <div class="big-table">
                <table>
                    <tr>
                        <th>Day</th>
                        <th>Workout</th>
                    </tr>
                    {% for day in workout %}
                        {% for name, exercise in day.items %}
                    <tr>
                        <td> {{name}} </td>
                        {% for title in exercise %}
                            <td> {{title}} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </li>
    {% else %}
    <li>
        <div>
            <form action="{% url 'set_dates' %}">
                <input type="submit" value="Set Dates to suggest workout">
            </form>
        </div>
    </li>
    {% endif %}
    <li>
        <div class="big-detail">
            <div class="top-row" style="position: relative; text-align: center;">
                <div style="display: inline-block;">
                    Today's Workout
                </div>
                <div class="completed-status" style="position: absolute; top: 0; right: 0; margin-right: 10px; margin-top: -10px;">
                    {% if workout %}
                    {% if done %}
                    Completed <i class="fas fa-check green-check" style="color:rgb(4, 172, 4);"></i>
                    {% else %}
                    <button><a href="activity">Log Activity</a></button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="big-table" style="margin-top: 5px;">
                {% for day, workout in today.items %}
                {% for title, exercises in workout.items %}
                {% if title == 'Rest' %}
                <h3>Rest day</h3>
                {% else %}
                <h8><strong>{{title}}</strong></h8>
                <table>
                    <tr>
                        <th>Exercise</th>
                        <th>Sets and Reps</th>
                    </tr>
                    {% for exercise in exercises %}
                    <tr>
                        {% for name in exercise.keys %}
                        <td>{{name}}</td>
                        {% endfor %}
                        {% for value in exercise.values %}
                        <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </li>
    
    <li>
        <div class="big-detail">
            <div class="big-title">
                Calories burned vs eaten in past 7 days
            </div>
            <canvas id="myChart" style="width:50%;max-width:450px; height: 150px; margin-top: 10px; text-align: center;"></canvas>
        </div>
    </li>
</ul>
<script src="{% static 'tracker/index.js' %}"></script>
<div id="day-pairs" style="display: none">
    {% for day, cal, eaten in past_days %}
    <p class="days">{{day}}</p>
    <p class="cals">{{cal}}</p>
    <p class="eaten">{{eaten}}</p>
    {% endfor %}
</div>
{% endblock %}
