{% extends "tracker/layout.html" %}

{% block body %}
<h2>Welcome to Push Progress!</h2>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h3>Your Goals: {{goals}} </h3>
{% if calorie_goal %}
<h3>Calorie Goal: {{calorie_goal}} calories a day</h3>
<h3>Protein Goal: {{protein_goal}}g of protein a day</h3>
{% else %}
<a href="{% url 'food' %}"><button type="button">Set calorie goal</button></a>
{% endif %}
<h3>Your Weight {{weight}} lbs</h3>
{% if workout %}
<div>
    <a href="{% url 'activity' %}"><button type="button">Log Activity</button></a>
</div>
<div>
    <a href="{% url 'logfood' %}"><button type="button">Log Food</button></a>
</div>
<table>
    <tr>
        <th>Day</th>
        <th>Workout</th>
    </tr>
    {% for day in workout %}
        {% for name, exercise in day.items %}
    <tr>
        <td> {{name}} </td>
        {% for title in exercise %}
            <td> {{title}} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% else %}
<form action="{% url 'set_dates' %}">
    <input type="submit" value="Set Dates to suggest workout">
</form>
{% endif %}
<div>
    <h3>Calories Eaten Today: {{food_eaten}}</h3>
    <h3>Total protein: {{total_protein}}</h3>
    <h3>Total calories: {{total_calories}}</h3>
</div>

{% if workout %}
<div>
    {% for day, workout in today.items %}
    <h3>Today: {{day}}</h3>
    {% for title, exercises in workout.items %}
    {% if title == 'Rest' %}
    <h3>Rest day</h3>
    {% else %}
    <h4>{{title}}</h4>
    <table>
        <tr>
            <th>Exercise</th>
            <th>Sets and Reps</th>
        </tr>
    {% for exercise in exercises %}
    <tr>
        {% for name in exercise.keys %}
        <td>{{name}}</td>
        {% endfor %}
        {% for value in exercise.values %}
        <td>{{value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
