{% extends "tracker/layout.html" %}

{% block body %}
{% load static %}

<div class="form-box" style="width: 508px; height: 630px; margin-bottom:30px;">
    <h2 class="form-title" style="padding-top:20px;"><strong>Register</strong></h2>
    <div class="form">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input class="text-box" autofocus type="text" name="firstname" placeholder="First Name" style="height: 50px;">
            <input class="text-box" autofocus type="text" name="lastname" placeholder="Last Name" style="height: 50px;">
            <input class="text-box" autofocus type="text" name="username" placeholder="Username" style="height: 50px;">
            <input class="text-box" type="email" name="email" placeholder="Email Address" style="height: 50px;">
            <input class="text-box" type="password" name="password" placeholder="Password" style="height: 50px;">
            <input class="text-box" type="password" name="confirmation" placeholder="Confirm Password" style="height: 50px;">
            <div>
                <input class="form-button" type="submit" value="Register">
            </div>
        </form>
    </div>
    <div style="margin-top: 10px;">
        Have an account? <a href="{% url 'login' %}">Login here.</a>
    </div>
</div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    {% endblock %}
</html>