{% extends "tracker/layout.html" %}

{% block body %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let lose = document.getElementById('Lose Weight');
        let gain = document.getElementById('Gain Weight');
        lose.addEventListener("change", () => {
            if (lose.checked) {
                gain.checked = false;
            }
        })
        gain.addEventListener("change", () => {
            if (gain.checked) {
                lose.checked = false;
            }
        })
    })
</script>
<div class="form-box" style="width: 508px; height: 520px;">
    <form action="{% url 'set' %}" method="post">
        {% csrf_token %}
        <h2 class="form-title"><strong>Setup</strong></h2>
        <div class="form-label" style="margin-right: -120px;">
            <strong style="font-size: 18px;">Weight &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
             Height </strong>
        </div>
        <input type="number" name="weight" id="weight" class="text-box" style="width: 80px;" min="50" max="1000" required> <strong>lbs</strong>
        <input type="number" name="height_ft" min="2" max="7" class="text-box" style="width: 60px; margin-left: 100px;"> <strong>ft</strong>
        <input type="number" name="height_in" min="0" max="11" class="text-box" style="width: 60px;"> <strong>in</strong>
        <div class="form-label">
            <strong style="font-size: 18px; margin-right: 140px;">Goals</strong>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px;">
            {% for choice in choices %}
            <div style="text-align: left; font-size: 15px;">
                <input id="{{choice}}" class="checkboxes" type="checkbox" name="goal" value="{{choice}}"> &nbsp; {{choice}}
            </div>
            {% endfor %}
        </div>
        <div>
            <strong style="font-size: 18px; margin-right: 265px;">Weight Goal</strong>
            <div style="margin-right: 245px; margin-top: -10px;">
                <input class="text-box" type="number" name="weight_goal" min="50" max="1000" style="width: 100px;"> <strong>lbs</strong>
            </div>
        </div>
        
        <input type="submit" class="form-button">
        
    </form>
</div>
{% endblock %}
