{% extends "tracker/layout.html" %}

{% block body %}
<div id="breakfast-form" class="form-box" style="width: 500px; height: 370px; text-align:left">
    <strong style="font-size: 20px; text-align: center; margin-left: 115px;">What days can you workout?</strong>
    <form action="{% url 'set_dates' %}" method="post" style="margin-left: 30px; padding-top:30px; font-size: 18px;">
        {% csrf_token %}
        <div>
            <input type="checkbox" name="day" value="Sunday">
            <label for="Sunday">Sunday</label>
        </div>
        <div>
            <input type="checkbox" name="day" value="Monday">
            <label for="Monday">Monday</label>
        </div>
        <div>
            <input type="checkbox" name="day" value="Tuesday">
            <label for="Tuesday">Tuesday</label>
        </div>
        <div>
            <input type="checkbox" name="day" value="Wednesday">
            <label for="Wednesday">Wednesday</label>
        </div>
        <div>
            <input type="checkbox" name="day" value="Thursday">
            <label for="Thursday">Thursday</label>
        </div>
        <div>
            <input type="checkbox" name="day" value="Friday">
            <label for="Friday">Friday</label>
        </div>
        <div>
            <input type="checkbox" name="day" value="Saturday">
            <label for="Saturday">Saturday</label>
        </div>
        <input type="submit" class="form-button" style='margin-left: 130px;'>
    </form>
</div>

{% endblock %}